<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EmpProject</display-name>
  <servlet>
  	<servlet-name>MemberLoginServlet</servlet-name>
  	<servlet-class>org.zhangqing.servlet.MemberLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MemberLogoutServlet</servlet-name>
  	<servlet-class>org.zhangqing.servlet.MemberLogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeptServlet</servlet-name>
  	<servlet-class>org.zhangqing.servlet.DeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeptServlet</servlet-name>
  	<url-pattern>/pages/back/admin/dept/DeptServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberLogoutServlet</servlet-name>
  	<url-pattern>/pages/back/MemberLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberLoginServlet</servlet-name>
  	<url-pattern>/pages/back/MemberLoginServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>